/* .wrapper{ 
    width: 100vw;
    height: 20rem;
    background:url('/neuroses/assets/imgs/header_background_generico.jpg');
} */
#neuroses{
    display:block
}

header nav, .sidebar{
    font-family: 'PT Serif', serif;
}

.content-wrapper, footer{
    font-family: 'Zilla Slab', serif;
}

.hidden-content, .retratil{
    display: none;
}

.side-button{
    background-color: red;
}
.sidebar > *{
    cursor: pointer;
    width: 10rem;
}

.side-hidden{
    background-color: yellow;
}
.side-hidden, .side-button{
    border: 1px solid black;
    border-radius: 4px;
    margin: 2px 0;
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer-button{
    width: 8rem;
    padding: 2px;
}

.footer-button > *{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}