/* .wrapper{ 
    width: 100vw;
    height: 20rem;
    background:url('/neuroses/assets/imgs/header_background_generico.jpg');
} */

#neuroses{
    display:block
}

.hidden-content{
    display: none;
}