*{
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 2vh;
}

body{
    min-height: 100vh;
}

/* INICIO HEADER  */
header .wrapper{
    background-image: url(/home/assets/imgs/header_background_generico.jpg);
    background-size: 100vw 100%;
    height: 25vh;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content:space-around;
}

.logo-div{
    height: 95%;
    width: 10%;
}

.logo{
    height: 100%;
    width: 100%;
}

.filler{
    height: 95%;
    width: 10%;
}

nav{
    height: 40%;
    width: 60%;
    font-family: 'PT Serif', serif;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

nav ul{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 3%;
}

nav li{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
}

.header-button{
    display: flex;
    padding: 3%;
    text-align: center;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(1, 10, 79, 0.3);
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 8px;
    position:relative;
    top: 1.5rem;
    font-size: 2.3;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
}

@keyframes upwards {
    0% {transform:translate(0px);}
    100% {transform: translate(0px,-0.5rem);font-size: 2.5vh;}
}

.header-button:hover{
    background-color: rgba(38, 47, 114, 0.3);
    border-radius: 8px;
    animation: upwards .3s ease-in-out 0s 1 alternate both;
}

/* FIM HEADER  */

/* INICIO BODY  */



#neuroses{
    display: flex;
}

.content-wrapper{
    background: url(/home/assets/imgs/dark_blue_background_2.jpg);
    background-size: 100% 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 2%;
}

h1,h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
}

h3{
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    color: white;
}

:is(.hidden-content) :is(p,a,li,ul){
    text-align: justify;
    line-height: 1.5rem;
    color: white;
}

.hidden-content a{
    text-decoration: underline;
}

.style-list li{
    list-style: inside;
}

.hidden-content{
    width: 70vw;
}

.topicos-ansiedade  .hidden-content{
    background: url(/neuroses/assets/imgs/ansiedade_background_1.jpg), url(/neuroses/assets/imgs/ansiedade_background_3.jpg);
    background-size: 100% auto, 100% auto;
    background-repeat: no-repeat;
    background-position: top, bottom;
}

.filter{
    color: white;
    text-shadow: 1px 1px 2px black;
    border-radius: 16px;
    background-color: rgb(0, 0, 0, 0.6);
    padding: 2rem;
    margin: 5%;
}

.hide{
    display: inline;
}

.hide img{
    transform: rotate(90deg);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    height: 2rem;
    width: 2rem;
    display: inline;
}

/* INICIO SIDEBAR  */


.sidebar{
    font-family: 'PT Serif', serif;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}

#margin_correction{
    margin-bottom: 2%;
}

.hidden-content{
    display: none;
}

.side-hidden{
    background-color: rgb(67, 184, 232, 0.3);
    /* border: 1px solid rgb(255, 255, 255, 0.6); */
    height: 0rem;
    font-size: 0rem;
    width: 10rem;
    transition: height 0.3s ease-in-out, font-size 0.3s;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    width: 10rem;
}

/* @keyframes slide_down{
    from {transform: scale(0px,0px); font-size: 0px;}
    to {transform: scale(10rem,auto);}
} */

.side-button{
    background-color: rgb(1, 10, 79, 0.6);
    border: 1px solid rgb(255, 255, 255, 0.6);
    border-radius: 8px;
}

/* tinha side-hidden */
.side-button{
    border-radius: 4px;
    margin: 1% 0;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    width: 10rem;
    font-size: 1.3rem;
}

.side-hidden:hover{
    background-color: rgb(67, 184, 232, 0.1);
}
.side-button:hover{
    background: rgba(34, 45, 133, 0.3);
}

/* FIM SIDEBAR  */
/* FIM BODY  */

/* INICIO FOOTER  */

.f-wrapper{
    box-sizing: border-box; 
    display: flex;
    background-image: url(/home/assets/imgs/header_background_generico.jpg);
    background-size: 100vw 100%;
    align-items: center;
    justify-content: space-around;
    font-size: .8rem;
    max-width: 100vw;
    height: 25vh;
    padding: 1rem;
}

.disclaimer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* width: 40%; */
}

.titulo-disclaimer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
    margin: 0px;
    height: 30%;
    width: 30%;
    margin-bottom: 1%;
}

.titulo-disclaimer h3{
    margin: 0px !important;
    color: white;
    text-shadow: .5px .5px black;
}

.titulo-disclaimer img{
    height: 90%;
    width: 30%;
}


.m-disclaimer{
    color: white;
    text-shadow: .5px .5px black;
}

.cvv{
    margin-top: 2%;
    color: white;
    text-shadow: .5px .5px black;
    width: 20%;
    height: 100%;
}

.cvv a{
    color: white;
    text-decoration: underline;
}

.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: .5rem;
    width: 25%;
    height: 100%;
}

.contato h3{
    margin: 0px !important;
    padding: 0px;
    color: white;
    text-shadow: .5px .5px black;
}

.shelf{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 80%;
    height: 30%;
}

.footer-button{
    height: 100%;
    width: 50%;
}

.footer-button img{
    width: 20%;
    height: 80%;
    margin-left: 10%;
}

.footer-button > *{
    background-color: rgb(1, 10, 79, 0.3);
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 10%;
}

.footer-button > *:hover{
    background-color: rgb(255, 255, 255, 0.4);
}
/* FIM FOOTER  */